[submodule "Client"]
	path = client
	url = https://github.com/P7Ninja/Client
[submodule "APIGateway"]
	path = apigateway
	url = https://github.com/P7Ninja/APIGateway
[submodule "Food-Service"]
	path = services/food-service
	url = https://github.com/P7Ninja/Food-Service
[submodule "Inventory-Service"]
	path = services/inventory-service
	url = https://github.com/P7Ninja/Inventory-Service
[submodule "Recipe-Service"]
	path = services/recipe-service
	url = https://github.com/P7Ninja/Recipe-Service
[submodule "User-Service"]
	path = services/user-service
	url = https://github.com/P7Ninja/User-Service
[submodule "Health-Service"]
	path = services/health-service
	url = https://github.com/P7Ninja/Health-Service
[submodule "Mealplan-Service"]
	path = services/mealplan-service
	url = https://github.com/P7Ninja/Mealplan-Service
